<h1>Listing recipe_types</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @recipe_types.each do |recipe_type| %>
  <tr>
    <td><%= recipe_type.name %></td>
    <td><%= link_to 'Show', recipe_type %></td>
    <td><%= link_to 'Edit', edit_recipe_type_path(recipe_type) %></td>
    <td><%= link_to 'Destroy', recipe_type, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Recipe type', new_recipe_type_path %>
