<h1>Listing menu_types</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @menu_types.each do |menu_type| %>
  <tr>
    <td><%= menu_type.name %></td>
    <td><%= menu_type.description %></td>
    <td><%= link_to 'Show', menu_type %></td>
    <td><%= link_to 'Edit', edit_menu_type_path(menu_type) %></td>
    <td><%= link_to 'Destroy', menu_type, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Menu type', new_menu_type_path %>
